<h1>Listing watch_lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @watch_lists.each do |watch_list| %>
      <tr>
        <td><%= watch_list.name %></td>
        <td><%= link_to 'Show', watch_list %></td>
        <td><%= link_to 'Edit', edit_watch_list_path(watch_list) %></td>
        <td><%= link_to 'Destroy', watch_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watch list', new_watch_list_path %>
