<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @watch_list.name %>
</p>
<p>
  <strong>CIK:</strong>
  <%= @watch_list.companycik %>
</p>

<%= link_to 'Edit', edit_watch_list_path(@watch_list) %> |
<%= link_to 'Back', watch_lists_path %>
