<%= simple_form_for(@filing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :url %>
    <%= f.input :links %>
    <%= f.input :summary %>
    <%= f.input :updated %>
    <%= f.input :cik %>
    <%= f.input :categories %>
    <%= f.input :id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "button [radius round]" %>
  </div>
<% end %>
