<script>
//setTimeout('window.location.reload();', 60000);

//$("td").lazyload();

</script>
<%= column_chart Filing.group("categories").count.sort {|a,b| a[1] <=> b[1]}.reverse.take(5) %>

<%#= graph( get_common_elements(@filings.where(["DATE(updated) = ?", todaytext ]), "categories") , "filingcanvas" , 500 , 400 )%>

<h1>Latest 100 filings</h1>
<table class='large-12 medium-12 small-12'>
  <thead>
    <tr>
      <th>Company</th>
      <th>Updated</th>
      <th>Form</th>
      <th>Filing Id</th>
      <th>ID</th>
      <th>CIK</th>
      <th>Link</th>
      <!-- <th></th>
      <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @filings.reverse.take(100).each do |filing| %>
      <tr>
        <td><%= link_to filing.title , Company.where("cik = ?", filing.cik).first if filing.cik != nil %></td>
        <!--<td><%#= filing.links %></td>-->
        <td><%= filing.updated %></td>
        <td><%= filing.categories %></td>
        <td><%= link_to filing.file_serial , filing, :class => 'button success'  %></td>
        <td><%= filing.id %></td>
        <td><%= filing.cik %></td>
        <td><%= link_to "Filing", filing.url.gsub("-index.htm", ".txt"), :class => "button", :target => "_blank" %></td>
        <!--<td><%#= link_to 'Show', filing, :class =>'button'  %></td>-->
        <!-- <td><%#= link_to 'Edit', edit_filing_path(filing), :class =>'button success'  %></td>
        <td><%#= link_to 'Destroy', filing, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'button alert'  %>
        </td> -->
      </tr>
      <tr id="<%=filing.id %>" height="0px;"></tr>
    <% end %>
  </tbody>
</table>
<br>


<%#= link_to 'New Filing', new_filing_path %>
