<script>
setTimeout('window.location.reload();', 60000);

//$("td").lazyload();

</script>

<div class="row">
<h1>Listing filings</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Updated</th>
      <th>Form</th>
      <th>Filing Id</th>
      <th>CIK</th>
      <th>ID</th>
      <th>Link</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @filings.reverse.each do |filing| %>
      <tr>
        <td><%= filing.title %></td>
        <!--<td><%#= filing.links %></td>-->
        <td><%= filing.summary.html_safe %></td>
        <td><%= filing.updated %></td>
        <td><%= filing.categories %></td>
        <td><%= filing.file_id.sub("urn:tag:sec.gov,2008:accession-number=", "")  %></td>
        <td><%= filing.cik %></td>
        <td><%= filing.id %></td>
        <td><%= link_to "Filing", filing.url.gsub("-index.htm", ".txt"), :class => "button", :target => "_blank" %></td>
<!--<td><%#= link_to 'Show', filing, :class =>'button'  %></td>-->
        <td><%= link_to 'Edit', edit_filing_path(filing), :class =>'button success'  %></td>
        <td><%= link_to 'Destroy', filing, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'button alert'  %>
        </td>
      </tr>
      <tr id="<%=filing.id %>" height="0px;"></tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


<%= link_to 'New Filing', new_filing_path %>
