<p id="notice"><%= notice %></p>

<p>
  <!-- <strong>Url:</strong> -->
  <%= link_to 'File Page', @filing.url, :class => 'button success right' %>
</p>
<p>
  <strong>Title:</strong>
  <%= @filing.title %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @filing.updated %>
</p>

<p>
  <strong>Form:</strong>
  <%= @filing.categories %>
</p>

<!--<p>
  <strong>Id:</strong>
  <%#= @filing.id %>
</p>-->

<p>
  <strong>Company Link:</strong>
  <%= link_to @company.name, @company %>
</p>

<%= link_to 'Edit', edit_filing_path(@filing) %> |
<%= link_to 'Back', filings_path %>
